<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:50:00" openTimeout="00:50:00" sendTimeout="00:50:00" receiveTimeout="00:50:00">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBindingConfiguration" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="serviceBehavior" />
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.UserTitleService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IUserTitleService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IUserTitleService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.BlockService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IBlockService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IBlockService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.BuildService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IBuildService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IBuildService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.CampusService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.ICampusService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.ICampusService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.CampusSiteService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.ICampusSiteService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.ICampusSiteService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.DepartmentRoomService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IDepartmentRoomService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IDepartmentRoomService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.DepartmentService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IDepartmentService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IDepartmentService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.MainUnitService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IMainUnitService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IMainUnitService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.FloorService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IFloorService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IFloorService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.RoomService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IRoomService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IRoomService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.SiteService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.ISiteService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.ISiteService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.SubUnitService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.ISubUnitService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.ISubUnitService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.UserRoleService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IUserRoleService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IUserRoleService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.UserLoginService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IUserLoginService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IUserLoginService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.UserContactTypeService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IUserContactTypeService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IUserContactTypeService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.RoomTypeService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IRoomTypeService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IRoomTypeService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.UserContactService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IUserContactService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IUserContactService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.UserDepartmentService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IUserDepartmentService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IUserDepartmentService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.UserPasswordService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IUserPasswordService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IUserPasswordService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.UserUserRoleService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IUserUserRoleService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IUserUserRoleService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.UserService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.IUserService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.IUserService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LocationApp.Service.Services.SenderRecieverDeviceService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="LocationApp.Service.Interfaces.ISenderRecieverDeviceService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="LocationApp.Service.Interfaces.ISenderRecieverDeviceService" name="basicHttpBinding" />
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.15.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="locationappEntities" connectionString="metadata=res://*/Database.LocationAppModel.csdl|res://*/Database.LocationAppModel.ssdl|res://*/Database.LocationAppModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;database=locationapp;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.15.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.15.0" newVersion="8.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 618CE518-B3CC-4E59-BC1A-3DB555571C27-->